<!-- <app-fullcalender></app-fullcalender> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <img src="../assets/calendar4.jpg" alt="Snow" style="width:100%;">
    <div class="top-left">
        <section>
            <button mat-raised-button color="primary" (click)="openCalendarDialog()">Open Calendar</button>
        </section>
    </div>
</body>

</html>